/* style={{ backgroundColor: 'powderblue', padding: '0.3rem', marginBottom: '3px' }} */
.division{
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.2rem;
    margin-bottom: 3px;
    border-radius: 0.25em;
}