.colorPicker {
    background-color: rgba(255, 255, 255, 0.559);
    height: 9vh;
    width: 22.3vh;
    box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, 0.385);
    border-radius: 0.5em;
}
.colorPicker:hover{
    transition: all 0.1s;
    transform: scale(0.98)
}
.color {
    background-color: none;
    height: 5vh;
    width: 22.3vh;    
    border-radius: 0.5em;
    cursor: pointer;
}

.hexaCode {
    display: flex;
    justify-content: center;
    line-height: 4vh;
    font-weight: bold;
}

