input[type='number'] {
    width: 12rem;
    border-style: groove;
    text-align: center;
    font-weight: bold;
    font-size: .95rem;
    background-color: white;
    padding: 2px;
    box-shadow: 3px 3px 6px rgba(139, 125, 125, 0.564);
    border-radius: 0.3em;
}

.flex-content{
    display: flex;
    justify-content:space-between;
}