
input[type='text']{
    width: 22.3vh;
    border-style: groove;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    background-color: white;
    padding: 2px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.564);
    border-radius: 0.3em;
}