@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&family=Poppins&display=swap');
* {
    margin-bottom: 0.1em;
    padding: 0;
    box-sizing: border-box;
}
h4{
    text-align: center;
    margin-bottom: 25px;
}
body {
    font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgba(156, 156, 156, 0.838);
} 

h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.accordion {
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.267);
}

.accordion-title {
    display: flex;
    height: 3rem;
    border-radius: 0.3em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.click {
    cursor: pointer;
}

.accordion-title:hover {
    /* background-color: #84b8be; */
}

.accordion-title,
.accordion-content {
    padding: 1rem;
    box-shadow: inset -.2rem -.2rem 1rem rgba(0, 0, 0, 0.13);
}

.accordion-content {
    background-color: rgb(223, 226, 226);
    margin-top: 0.5em;
    border-radius: 0.5em;
}

.accordion-content :first-child {
    border-style: solid;
    border-radius: 6px;
    
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
}